.header-logo {
  float :left;
  padding-right: 50px;
  padding-left: 30px;
  padding-bottom: 10px;
  }

.main {
  clear: left;
  }

body {
  margin:20px;
  }

h2 {
  padding: 0rem 1rem;
  border-left: 3px solid #000;
  }

.header-list li{
  list-style: none;
  float :left;
  padding-top: 33px;
  padding-right: 20px;
  padding-bottom: 33px;
  padding-left: 20px; 
}

footer {
  padding: 1em;
  color: #888;
  text-align: center;
  font-size: 12pt;
}
